@import './mixins.scss';
@import './variables.scss';
.li{
    // display:flex;
    // justify-content: center;
    @include flex(initial, center, center);
    width: 90%;
    max-width: 600px;
    background: $light-blue;
    padding: 20px;
    border: 2px solid $dark-blue;
    border-radius: 5px;
    .link{
        text-decoration: none;
        color: white;
        &:hover{
            color: $hover-color;
        }
    }
}